* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(90deg, yellow, red);
}

input {
  background-color: #f2ac48;
  padding: 12px 8px;
  min-width: 300px;
  border: 0;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.search-container {
 position: relative;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   background-color: #f2ac48;
   position: absolute;
   min-width: 316px;
   padding: 0;
   margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  padding: 8px;
}
ul li:hover {
  background-color: #e85c04;
}

input {
   /* TODO */
}